<h1>Introduction to Python 3</h1>
<it>This notebook takes you through the essential minimum of Python that you will need for this course</it>

## Print Statement

Print Statement is a function in Python 3 so it needs round brackets

In [217]:
print("Hello!")

Hello!

In [42]:
# Can string together values which get separated by a space
x = 5.4233
print('Hello!' , x)

Hello! 5.4233

In [43]:
# Adding strings does not add a space 
print("Hello" + str(x) + "EDHEC")

Hello5.4233EDHEC

In [44]:
# We add the space in ourselves 
print("Hello " + str(x) + " EDHEC")

Hello 5.4233 EDHEC

<h2> DataTypes</h2>

Python is not a typed language meaning that rather than the programmer define the data type of a variable

Python determines the data type based on the type of value assigned to the variable

### Integers

In [1]:
# Integers
x = 3
y = 2

In [2]:
# How to check
type(x)

int

In [222]:
type(y)

int

In [223]:
# Python 3 is smart enough to do the division without explicit conversion to floats
x/y

    1.5000

In [4]:
# Result of a division is a float
type(x/y)

float

### Floats

In [225]:
# I can change the type of x if I assign a non integer value
x=22421.2242239

In [226]:
# It is stored to around 16 significant places - good enough for financial work
x

22421.2242

In [164]:
type(x)

float

In [165]:
x*x

502711295.6984

In [166]:
%precision %10.4f

'%10.4f'

In [167]:
x

22421.2242

In [168]:
# We can create string types
x = "Hello Edhec"

In [169]:
type(x)

str

### Decimal

In [5]:
import decimal
from decimal import Decimal

In [6]:
d = Decimal(1) / Decimal (11)
d

Decimal('0.09090909090909090909090909091')

In [10]:
e = Decimal(1) / Decimal (11)
e

Decimal('0.09090909090909090909090909091')

In [7]:
f = Decimal(1) / Decimal (11)
f

Decimal('0.09090909090909090909090909091')

In [11]:
g = d + e + f
g

Decimal('0.2727272727272727272727272727')

### Booleans

In [342]:
# Use == to compare for equivalence 
1==1

True

In [341]:
1==0

False

In [345]:
if 1==1:
    print(True)
else:
    print(False)

True

### Lists

In [39]:
# We can also have a type called a list that can have different types
list1 = ['EDHEC Business School', 493, 'Promenade des Anglais', 'France', 'World', 'Solar System' ]

In [41]:
# We get the number of elements in the list from the function len
len(list1)

6

In [42]:
# We can access individual elements in a list using an index
list1[2]

'Promenade des Anglais'

In [43]:
# We can access sublists as follows
list1[1:4]

[493, 'Promenade des Anglais', 'France']

In [46]:
# We can add to the list using append
list1.append('Galaxy')
print(list1)

['EDHEC Business School', 493, 'Promenade des Anglais', 'France', 'World', 'Solar System', 'Galaxy', 'Galaxy']

In [47]:
# We can loop over the elements of a list
# NOTE THE INDENTATION AFTER THE :
for l in list1:
    print(l)

EDHEC Business School
493
Promenade des Anglais
France
World
Solar System
Galaxy
Galaxy

In [57]:
list2 = [2,4,2,5,2,5,3,9,5,8,4,1,3,5]

In [58]:
type(list2)

list

### Tuples

In [17]:
# Tuples are like lists but cannot be changed
tup = (1,'Fred',234.4432,'Fred')
type(tup)

tuple

In [18]:
print(tup)

(1, 'Fred', 234.4432, 'Fred')

In [19]:
# We can access elements using an index just like lists
tup[2]

234.4432

In [20]:
tup.count('Fred')

2

In [291]:
# This will fail as we cannot assign to a tuple
# tup[2] = 1893.343

## Dictionaries

Use to store key:value pairs

In [4]:
dict = {'Name' : 'Pierre' , 'Age': 23, 'Nationality' : 'French'}

In [7]:
print(dict['Name']) 
print(dict['Age'])
print(dict['Nationality'])

Pierre
23
French

In [8]:
dict['Age'] = 24

In [9]:
print(dict['Name']) 
print(dict['Age'])
print(dict['Nationality'])

Pierre
24
French

## Fancy Printing

In [33]:
# Sometimes we need more control over the output
x = 3.34239239203898239892938; string = 'Hello'

In [34]:
print('x = ',x)

x =  3.3423923920389824

In [35]:
# f is the code for a floating point number so %7.5f means format the number to take up 7 characters with 5 dp
print('x = %7.5f' % x)

x = 3.34239

In [36]:
# 'f' is the code for a floating point number
# %12.5f means format the number to take up 12 characters with 5 decimal places
print('x = %12.5f' % x)

x =      3.34239

In [37]:
# f is the code for a floating point number
# %6.5f means format the number to take up 6 characters with 5 decimal places
print('x = %6.5f' % x)

x = 3.34239

In [38]:
# We can add in strings too - formatting code is 's' - but we need to then combine them into a tuple
print('%s = %6.5f' % (string,x))

Hello = 3.34239

<h2> Mathematical Operations</h2>

In [292]:
# I wanted to make sure that x is defined as a float so I added on some decimal places
x=15.0

In [293]:
x

   15.0000

In [294]:
y = x * x / 2 - x + 3

In [295]:
y

  100.5000

In [296]:
type(y)

float

In [297]:
print(y)

100.5

In [301]:
# We will need to loop over integers and for this the range function is important
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

## Date Library
In finance we need to be able to handle the dates of the cashflows that are due.

In [2]:
import datetime as dt
print('Current date and time: ', dt.datetime.now())
print(dt.datetime.now().strftime('%y/%m/%d %H:%M'))
print('Current year:' , dt.datetime.now().strftime('%Y'))
print('Month of year: ', dt.datetime.now().strftime('%B'))
print('Day of the month : ', dt.datetime.now().strftime('%d'))

Current date and time:  2018-02-27 14:56:36.851701
18/02/27 14:56
Current year: 2018
Month of year:  February
Day of the month :  27

In [3]:
# Create your own dates
import datetime as dt
tradeDate = dt.date(2017,3, 13)  # 13 March 2017
expiryDate = dt.date(2020,3,20)  # 20 March 2020

In [4]:
today = dt.date.today()
print(today)
print('ctime:', today.ctime())
print('Year:', today.year)
print('Mon :', today.month)
print('Day :', today.day)

2018-02-27
ctime: Tue Feb 27 00:00:00 2018
Year: 2018
Mon : 2
Day : 27

In [5]:
dateDiff = expiryDate - tradeDate
print(dateDiff)

1103 days, 0:00:00

In [6]:
# That is a time delta object - to get the number of days
print(dateDiff.days)
type(dateDiff.days)

1103

int

In [7]:
dateString = "Aug 28 1999 12:00AM"

In [9]:
date = dt.datetime.strptime(dateString, '%b %d %Y %I:%M%p')

In [10]:
print(date)

1999-08-28 00:00:00

## Math Library

To use more advanced function we need to import the standard Python maths library

In [302]:
import math

In [303]:
# We can call it as follows
x = math.exp(y)

In [304]:
print(x)

4.4319559098458955e+43

Having to prefix the function name with "math" every time is ugly and complicates the code. We do this instead.

In [305]:
from math import exp

In [306]:
x = exp(y)

In [307]:
print(x)

4.4319559098458955e+43

Some people do the following

In [308]:
from math import *

In [309]:
# We can then access every function in the math library
y = 10
x=factorial(y)

In [310]:
print(x)

3628800

But this is not advised - it pollutes the name space and you may find that functions have the same name as functions you want
to create

My preferred option is <b>from math import xxx, yyy</b> where xxx, yyy are the functions required

In [57]:
# We can use lists to create matrices as a list of lists
m = [[1,4,5],[3,2,7]]

In [60]:
# We can reference elements using row then column with indices that start at 0
m[0][0]

1

In [59]:
 m[1][2]

7

In [313]:
print(m)

[[1, 4, 5], [3, 2, 7]]

## Python Control Flow

In [55]:
# Loops are controlled using the for command
words = ['cat', 'monkey', 'hippopotamus']

for w in words:
    print(w, len(w))

cat 3
monkey 6
hippopotamus 12

In [63]:
for i in range(0,4):
    print(i**2)

0
1
4
9

In [321]:
x=5
  
if x < 0:
    print("X is negative")
elif x < 10:
    print("X is positive but less than 10")
else:
    print("X is positive and greater than 10")

X is positive but less than 10

In [46]:
# Break command exits an inner loop
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0


## Python Functions

In [66]:
from math import exp
# Use the keyword def to start the function and indent the function body
# There is no need to define the type of the function's inputs
def sigmoid(x): 
    ''' This function returns the value of the sigmoid function '''
    e = exp(-x)
    s = 1.0/(1.0+e)
    return s

In [332]:
sigmoid(10.0)

    1.0000

In [333]:
sigmoid(-10.0)

    0.0000

In [334]:
sigmoid(0.0)

    0.5000

In [67]:
help(sigmoid)

Help on function sigmoid in module __main__:

sigmoid(x)
    This function returns the value of the sigmoid function

In [73]:
# Functions can return more than one value
from math import exp
# Use the keyword def to start the function and indent the function body
# There is no need to define the type of the function's inputs
def sigmoid2(x): 
    ''' This function returns the value of the sigmoid function '''
    e = exp(-x)
    s = 1.0/(1.0+e)
    return s, e

In [76]:
ret = sigmoid2(1.0)
print(ret)

(0.7310585786300049, 0.36787944117144233)

In [77]:
# We can assign the value of the function as follows
x,y = sigmoid2(1.0)

In [79]:
print(x,y)

0.7310585786300049 0.36787944117144233

In [94]:
import datetime as dt

def yearFraction(d1,d2,daysInYear = 365.252):
    dateDiff = d2 - d1
    yearFraction = dateDiff.days / daysInYear
    return yearFraction

In [95]:
startDt = dt.datetime(2011,1,1)
endDt = dt.datetime(2011,6,1)
yearFraction(startDt, endDt)

0.41341320512960916

In [102]:
yearFraction(d1=startDt, d2=endDt)

0.41341320512960916

In [103]:
yearFraction(d2=startDt, d1=endDt)

-0.41341320512960916

## Lambda Functions

In [106]:
f = lambda x: x*x

In [107]:
f(10)

100

In [108]:
f = lambda x, y, z: x + y + z

In [109]:
f(10,20,50)

80

## Timing Functions

In [9]:
import timeit
numTimes = 1000
total_time = timeit.timeit('[v for v in range(10000)]', number=numTimes)
print(total_time/numTimes)

0.00028092635653980265